terraform {
  required_version = ">=${TERRAFORM_VERSION}"

  backend "azurerm" {
    use_msi              = true
    resource_group_name  = "${RESOURCE_GROUP_NAME}"
    storage_account_name = "${STORAGE_ACCOUNT_NAME}"
    container_name       = "${STORAGE_CONTAINER_NAME}"
    key                  = "${TF_STATE_NAME}"
  }
}
